body,
body a {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-style: normal;
  font-family: "Roboto","Arial", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 35px;
  line-height: 41px;
}

.title-2 {
  font-size: 16px;
  line-height: 22px;
}

html,
body {
  min-width: 1200px;
  min-height: 1650px;
  margin: 0;
  padding: 0;
  background-color: grey;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  padding-top: 9px;
}

.logo {
  float: left;
  min-height: 113px;
  width: 154px;
  margin-left: 27px;
  background-color: pink;
}

.navigation {
  float: left;
  min-height: 113px;
  width: 382px;
  margin-left: 10px;
  background-color: pink;
}

.user {
  float: right;
  min-height: 113px;
  width: 267px;
  margin-right: 27px;
  background-color: pink;
}

.promotion {
  margin: 525px 27px 40px 27px;
}

.jam {
  float: left;
  min-height: 229px;
  width: 560px;
  background-color: pink;
}

.chocolate {
  float: right;
  min-height: 229px;
  width: 560px;
  background-color: pink;
}

.bestseller {
  margin: 0 27px 40px 27px;
}

.bestseller-item {
  float: left;
  height: 322px;
  width: 267px;
  margin-right: 26px;
  background-color: pink;
}

.bestseller-item:last-child {
  margin-right: 0;
}

.description {
  min-height: 306px;
  margin: 0 27px 40px 27px;
  background-color: pink;
}

.content-marketing {
  margin: 0 27px 40px 27px;
}

.blog {
  float: left;
  min-height: 220px;
  width: 560px;
  background-color: pink;
}

.newsletter {
  float: right;
  min-height: 220px;
  width: 560px;
  background-color: pink;
}

.address {
  height: 430px;
  background-color: pink;
}

.breadcrumbs {
  margin: -60px 27px 13px 27px;
  background-color: pink;
}

h1 {
  margin: -40px 27px 28px 27px;
  background-color: pink;
}

.filter {
  height: 130px;
  font-size: 0;
  margin: 0 27px 40px 27px;
  background-color: pink;
}

.sort {
  display: inline-block;
  vertical-align: bottom;
  font-size: 16px; 
  height: 56px;
  width: 194px;
  margin-right: 15px;
}

.price {
  display: inline-block;
  vertical-align: bottom;
  font-size: 16px;
  height: 56px;
  width: 218px;
  margin-right: 15px;
}

.fat {
  display: inline-block;
  vertical-align: bottom;
  font-size: 16px;
  height: 56px;
  width: 417px;
  margin-right: 15px;
}

.fillers {
  display: inline-block;
  vertical-align: bottom;
  font-size: 16px;
  height: 56px;
  width: 702px;
  margin-right: 15px;
}

.button {
  display: inline-block;
  vertical-align: bottom;
  font-size: 16px;
  height: 56px;
  width: 143px;
}

.catalog {
  margin: 0 27px 43px 27px;
  font-size: 0;
  background-color: pink;
}

.catalog-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 26px;
  font-size: 16px;
  height: 362px;
  width: 267px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.pages {
  float: right;
  height: 26px;
  width: 190px;
  margin-right: 27px;
  background-color: pink;
}

.main-footer {
  padding-bottom: 26px;
}

.social {
  float: left;
  min-height: 103px;
  width: 267px;
  margin-left: 27px;
  background-color: pink;
}

.documents {
  float: left;
  min-height: 103px;
  width: 560px;
  margin: 0 26px;
  background-color: pink;
}

.copyright {
  float: right;
  min-height: 103px;
  width: 267px;
  margin-right: 27px;
  background-color: pink;
}

/*.slider {
  position: relative;
}

.slider input[type=radio] {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  width: 300%;
  transition: transform 0.8s ease;
}

li[class^="slide-"] {
  float: left;
  width: 1079px;
  height: 881px;
}

.slider-controls {
  margin-bottom: 10px;
  text-align: left;
}

.slider-controls label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
  border: 2px solid white;
  background-color: #ccсссc;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-1079px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
  transform: translate(-2158px);
}*/
