html,
body {
  width: 1200px;
  min-height: 1650px;
  margin: 0;
  padding: 0;
  background-color: grey;
}

body,
body a {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-style: normal;
  font-family: "Roboto","Arial", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 35px;
  line-height: 41px;
}

.title-2 {
  font-size: 16px;
  line-height: 22px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: flex-start;
  margin-top: 9px;
}

.logo {
  width: 154px;
  height: 113px;
  margin-left: 27px;
  background-color: pink;
}

.navigation {
  width: 382px;
  height: 113px;
  margin-left: 24px;
  background-color: pink;
}

.user {
  width: 267px;
  height: 113px;
  margin-left: auto;
  margin-right: 27px;
  background-color: pink;
}

.main {
  display: flex;
  flex-direction: column;
  height: 2416px;
}

.promotion,
.bestseller,
.description,
.content-marketing {
  margin: 0 27px 40px 27px;
}

.promotion {
  display: flex;
  justify-content: space-between;
  height: 229px;
  margin-top: 525px;
}

.jam,
.chocolate {
  width: 560px;
  background-color: pink;
}

.bestseller {
  display: flex;
  justify-content: space-between;
  height: 322px;
}

.bestseller-item {
  width: 267px;
  background-color: pink;
}

.description {
  display: flex;
  flex-wrap: wrap;
  height: 306px;
  background-color: pink;
}

.paragraph {
  width: 560px;
}

.content-marketing {
  display: flex;
  justify-content: space-between;
  height: 220px;
}

.blog,
.newsletter {
  width: 560px;
  background-color: pink;
}

.address {
  height: 430px;
  background-color: pink;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 27px;
}

.social {
  width: 267px;
  height: 103px;
  background-color: pink;
}

.documents {
  width: 560px;
  height: 103px;
  background-color: pink;
}

.copyright {
  width: 267px;
  height: 103px;
  background-color: pink;
}

/*
.slider {
  position: relative;
}

.slider input[type=radio] {
  display: none;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  width: 300%;
  transition: transform 0.8s ease;
}

li[class^="slide-"] {
  float: left;
  width: 1079px;
  height: 881px;
}

.slider-controls {
  margin-bottom: 10px;
  text-align: left;
}

.slider-controls label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
  border: 2px solid white;
  background-color: #ccсссc;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-1079px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
  transform: translate(-2158px);
}*/
